<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>singup.html
    </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login1</servlet-name>
        <servlet-class>login1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login2</servlet-name>
        <servlet-class>login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sing</servlet-name>
        <servlet-class>Controller.sing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login3</servlet-name>
        <servlet-class>Controller.login3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logindao1</servlet-name>
        <servlet-class>Controller.logindao1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logindao2</servlet-name>
        <servlet-class>Controller.logindao2</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>sing</servlet-name>
        <url-pattern>/sing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logindao</servlet-name>
        <servlet-class>logindao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logindao</servlet-name>
        <url-pattern>/logindao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login1</servlet-name>
        <url-pattern>/login1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login2</servlet-name>
        <url-pattern>/login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login3</servlet-name>
        <url-pattern>/login3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logindao1</servlet-name>
        <url-pattern>/logindao1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logindao2</servlet-name>
        <url-pattern>/logindao2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
